<%- include ("./_header") -%>

  <div class="">
    <div class="image-title">Loanify</div>
    <h3>Loan Eligibility</h3>
    <p>Create an account to continue</p>


    <div id="loader" class="loader"></div>

    <div id="loan-details" style="margin: 50px 0;display: none;">
      <h6>CREDIT SCORE</h6>
      <div class="d-flex" style="align-items: center;justify-content: center;">
        <div class="circle"></div>
        <h2 class="amount">655</h2>
      </div>
      <h5>Loan Approved</h5>

      <div id="loader1" class="loader" style="display: none;margin-top: 20px;"></div>

      <div id="loan-approved-details" style="display: none;margin-top: 30px;">
        <div>
          <h6>Loan Disbursed</h6>
          <div class="d-flex" style="align-items: center;justify-content: center;">
            <h2 style="margin: 0;font-size: 45px;" class="amount"><span style="font-size: 30px;">USD</span> 2,500</h2>
          </div>
        </div>
        <div style="margin-top: 30px;">
          <h6>Account No.</h6>
          <div class="d-flex" style="align-items: center;justify-content: center;">
            <h2 style="margin: 0;" id="accountNo" class="accountNo">307728947493</h2>
          </div>
        </div>

      </div>


    </div>
  </div>

  <script >

    setTimeout(() => {
      document.getElementById("loader").style.display = 'none'
      document.getElementById("loan-details").style.display = 'block'
      document.getElementById("loader1").style.display = 'block'
    }, 1500);

    setTimeout(() => {
      document.getElementById("loader1").style.display = 'none'
      document.getElementById("loan-approved-details").style.display = 'block'
      document.getElementById("accountNo").innerHTML = `307${Math.random().toString().slice(2,12)}`
    }, 2500);


  </script>




  <%- include ("./_footer") -%>