<%- include ("./_header") -%>

    <div class="">
        <img src="/images/landing.png" height="250" style="display:block;margin:0 auto;" />
        <div class="image-title title-landing">QikLoan</div>
        <p style="color:#272727;font-size: 14px;font-weight: 600;text-align: center;">
            Apply for quick loan
        </p>

        <a href="/login">
            <button type="button" class="btn btn-primary btn-style" style="margin-bottom: 20px;">
                Login
            </button>
        </a>

        <a href="/signUp">
            <button type="button" class="btn btn-primary btn1-style"
                style="margin-top: 0px;background: #e9f4fb !important;color: #2595D2;">
                Signup
            </button>
        </a>

    </div>

    <%- include ("./_footer") -%>