<%- include ("./_header") -%>

    <div class="">
        <div class="image-title">Loanify</div>
        <h3>Phone Verification</h3>
        <p style="margin: 0;">
            we have sent code to your number
        </p>
        <p>(+84) 999 999 999</p>

        <a href="/selfi">
            <button type="button" class="btn btn-primary btn-style " style="margin-top: 100px;">
                Verify
            </button></a>



    </div>

    <%- include ("./_footer") -%>