<%- include ("./_header") -%>

    <div class="">
        <div class="image-title">QikLoan</div>
        <h3>Take a Selfi</h3>
        <p>
            Please click on the picture and capture the image
        </p>

        <div class="image-upload">
            <label id="selfiImageDiv" for="file-input1" style="display: none;">
                <img id="selfiImage" height="250px" src="" />
            </label>

            <label id="selfiDefault" for="file-input1">
                <!-- <video class="video-tag" autoplay></video> -->
            </label>

        </div>
        <a id="showBtn" style="display: none;" href="/upload">
            <button style="margin: 30px auto;" type="button" class="btn btn-primary btn-style ">
                Upload
            </button>
        </a>
    </div>

    <div id="screenshot" style="text-align:center;">
        <video class="videostream" autoplay=""></video>

        <div>
            <img id="screenshot-img" width="250" height="250" src="" style="display: none;" />
        </div>

        <!-- <p><button class="capture-button">Capture video</button>
        </p> -->
        <p><button id="screenshot-button">Take screenshot</button></p>
    </div>


    <script>
        const constraints = {
            video: { width: { exact: 300 }, height: { exact: 300 } }
        };
        const screenshotButton = document.querySelector("#screenshot-button");
        const img = document.querySelector("#screenshot img");
        const video = document.querySelector("#screenshot video");

        const canvas = document.createElement("canvas");

        // captureVideoButton.onclick = function () {
        navigator.mediaDevices
            .getUserMedia(constraints)
            .then(handleSuccess)
            .catch(handleError);
        // };

        screenshotButton.onclick = video.onclick = function () {
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            console.log(video)
            canvas.getContext("2d").drawImage(video, 0, 0);
            // Other browsers will fall back to image/png
            img.src = canvas.toDataURL("image/webp");
            img.style.display = 'block'
            console.log(canvas.toDataURL("image/webp"));
        };

        function handleSuccess(stream) {
            screenshotButton.disabled = false;
            video.srcObject = stream;
            console.log(stream);
        }

        function handleError(error) {
            console.error("Error: ", error);
        }
    </script>

    <!-- <script>

        const captureVideoButton = document.querySelector(
            "#screenshot .capture-button"
        );

        const screenshotButton = document.querySelector("#screenshot-button");
        const img = document.querySelector("#screenshot img");
        const video = document.querySelector("#screenshot video");
        const canvas = document.createElement("canvas");

        const constraints = {
            video: { width: { exact: 300 }, height: { exact: 300 } }
        };


        captureVideoButton.onclick = function () {
            navigator.mediaDevices
                .getUserMedia(constraints)
                .then(handleSuccess)
                .catch(handleError);
        };

        screenshotButton.onclick = video.onclick = function () {
            canvas.width = video.videoWidth;
            canvas.height = video.videoHeight;
            canvas.getContext("2d").drawImage(video, 0, 0);
            // Other browsers will fall back to image/png
            img.src = canvas.toDataURL("image/webp");
        };

        function handleSuccess(stream) {
            screenshotButton.disabled = false;
            video.srcObject = stream;
        }
        // const video = document.querySelector("video");

        // navigator.mediaDevices.getUserMedia(constraints).then((stream) => {
        //     video.srcObject = stream;
        // });
    </script> -->


    <!-- <script type="text/javascript">
        var uploadedFiles = ''

        function uploadFiles() {
            uploadedFiles = document.getElementById("file-input1").files[0];
            document.getElementById("selfiImageDiv").style.display = 'block'
            document.getElementById("selfiImage").style.display = 'block'
            document.getElementById("selfiImage").setAttribute('src', URL.createObjectURL(uploadedFiles))
            document.getElementById("selfiDefault").style.display = 'none'
            sessionStorage.setItem('selfiImage', URL.createObjectURL(uploadedFiles))
            document.getElementById("showBtn").style.display = 'block'
            sessionStorage.setItem("selfi", uploadedFiles)
        };


        function liveness() {

            var formData = new FormData()
            formData.append('image', uploadImage);

            fetch("https://api.apixplatform.com/hyperverge-liveness/v1/liveness", {
                method: 'POST', // or 'PUT'
                body: formData, // data can be `string` or {object}!
                headers: {
                    appId: "2d9288",
                    appKey: "506505f70970ce16988f",
                    "X-Authorization": "Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJodHRwczovL2FwaXhwbGF0Zm9ybS5jb20iLCJzdWIiOiI4NGJkYjQ2NC00MDYyLTExZWMtOTYzMi0wMzZhMzFmNjU5MDQiLCJhdWQiOiJodHRwczovL2FwaS5hcGl4cGxhdGZvcm0uY29tIiwiZXhwIjoxNjM2NTU3MDg3LCJuYW1lIjoiTmFyYXlhbmEgS2VsbHVydSIsImVtYWlsIjoibmFyYXlhbmFAZGlnaWNhbC5jb20uc2cifQ.GSmup7ctzpqp3ZNTDdZEKvlzZpSCk0ONejgjFYyLkzd1ALJz5ZErOKANSADhi6z7HsoaLYwEXBNuu5Bdvug13gi951UZ0X5rivhKr9J1YvKeDNwDojfghwQjpUvcb84rN8j0uzZnCDd6S_vYVh7QclzgOch_hnORk9rbLZ6w402Kr7bQmi-yMnd8ZN4LhtGgSE-HHdlBBzOhH_2x4AGpgiQZGPBszNE-b2AGFA0ajICSnprRam5lvYLDWkP3RBswmjd28Nrj8tcr0BCAwoPcHmhGDg8LWPQCjXnVHZmG3gL1zirX-2syz_y-L0VaB54mHwZcq4HGx8zAysnkqZCRhg",

                }
            }).then(response => {
                console.log(response)
            }).catch(error => {
                console.log(error)
            });
        }


    </script> -->


    <%- include ("./_footer") -%>