<%- include ("./_header") -%>

    <div class="">
        <div class="image-title">Loanify</div>
        <h3>Take a Selfi</h3>
        <p>
            Please look into the camera and capture the image
        </p>

        <div class="image-upload">
            <label htmlFor="file-input1">
                <img height="250px" src="/images/uploadImage.png" />
            </label>

            <input id="file-input1" type="file" name="myImage" />
        </div>
    </div>

    <%- include ("./_footer") -%>