<%- include ("./_header") -%>
    <div class="signUp-section">
        <div class="image-title">QikLoan</div>
        <h3>Getting Started</h3>
        <p>Create an account to continue!</p>

        <img src="/images/signUp.png" height="250" style="display: block;margin: 0 auto;" />

        <form id="signUpForm" novalidate>
            <div class="form-group">
                <label for="applicantName">Applicant Name *</label>
                <input required type="text" placeholder="Enter your applicant name" class="form-control input-lg"
                    id="applicantName" name="applicantName" />
            </div>

            <div class="form-group">
                <label for="Address">Home Address *</label>
                <input type="text" placeholder="Enter your home address" class="form-control input-lg" id="Address"
                    name="address" />
            </div>
            <div class="form-group">
                <label for="Dob">Date of Birth *</label>
                <input type="date" placeholder="Enter your home address" class="form-control input-lg" id="Dob"
                    name="dob" />
            </div>
            <div class="form-group">
                <label for="Email">Email Address *</label>
                <input type="text" name="email" placeholder="Enter your email address" class="form-control input-lg"
                    id="Email" />
            </div>
            <div class="form-group">
                <label for="mobileNo">Phone Number *</label>
                <input type="text" placeholder="Enter your phone number" class="form-control input-lg" id="mobileNo"
                    name="mobileNo" />
            </div>
            <div class="form-group">
                <label for="Password">Password *</label>
                <input type="password" placeholder="Enter password" class="form-control input-lg" id="Password"
                    name="password" />
            </div>

            <div class="checkbox">
                <label>
                    <input class="check" type="checkbox" value="" />
                    <div style="margin-left: 10px;">
                        By Creating your account you have to agree with our
                        <span>Terms and Condition</span>
                    </div>
                </label>
            </div>

            <!-- <% if(typeof alert !='undefined' ) { %>
                <% alert.forEach(function(error) { %>
                    <div class="alert alert-warning alert-dismissible show" role="alert">
                        <%= error.msg %>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                    </div>
                    <% }) %>
                        <% } %> -->

            <a id="SignUpBtn" onclick="handleValidate()">
                <button type="button" class="btn btn-primary btn-style">
                    Signup
                </button>
            </a>

            <div style="display: none;color: red;" class="errorMessage" id="ErrorMessage">
                All fields are required for to proceed
            </div>

        </form>

        <p style="text-align: center;margin-bottom: 30px;margin-top: 30px;font-weight: 500;">
            Or continue with social account
        </p>

        <div style="display: flex;justify-content: space-between;">
            <div class="social social-btn-google" style="width: 48%;">
                <img src="/images/google.svg" />
                <span>Google</span>
            </div>
            <div class="social social-btn-fb" style="width: 48%;">
                <img src="/images/facebook.svg" />
                <span>Facebook</span>
            </div>
        </div>

        <div class="footer-links" style="margin-bottom: 30px;">
            Already have an account? <a href="/login">Login</a>
        </div>
    </div>

    <script>


        function handleValidate() {
            var applicantName = document.getElementById("applicantName").value;
            var Address = document.getElementById("Address").value;
            var Password = document.getElementById("Password").value;
            var Dob = document.getElementById("Dob").value;
            var Email = document.getElementById("Email").value;
            var mobileNo = document.getElementById("mobileNo").value;

            if (mobileNo.length > 0 && applicantName.length > 0 && Address.length > 0 && Password.length > 0 && Dob.length > 0 && Email.length > 0) {
                document.getElementById("ErrorMessage").style.display = 'none'
                document.getElementById("SignUpBtn").href = "/otp"
                

            } else {
                document.getElementById("ErrorMessage").style.display = 'block'
            }

        }

    </script>

    <%- include ("./_footer") -%>